---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/Nav.astro";
import Experience from "@/components/Experience.astro";
import Education from "@/components/Education.astro";
import Footer from "@/components/Footer.astro";
import AtsView from "@/components/AtsView.astro";
---

<Layout>
  <Nav />

  <main id="about">
    <Experience />
    <Education />
  </main>

  <Footer />
  <AtsView />
</Layout>
